#!/bin/sh

PROJECT_SLUG="{{ cookiecutter.project_name }}"
PROJECT_SLUG="${PROJECT_SLUG^^}"

export "${PROJECT_SLUG}_SECRET_KEY"="$(openssl rand -base64 64)"
export "${PROJECT_SLUG}_DATABASE_URL"="postgres://{{ cookiecutter.project_name }}:{{ cookiecutter.project_name }}@localhost:5432/{{ cookiecutter.project_name }}"