SECRET_KEY=JFUmURwHegTeMWxE5U8cXheYBFhHlnPJWR1wI3sB3bAeJ0HlnwHsLBhAO0pzl28f
DEBUG=True
DATABASE_URL=postgres://{{ cookiecutter.project_name }}:{{ cookiecutter.project_name }}@127.0.0.1:5432/{{ cookiecutter.project_name }}
OPBEAT_ORGANIZATION_ID={{ cookiecutter.opbeat_organization_id }}
OPBEAT_APP_ID={{ cookiecutter.opbeat_app_id }}
OPBEAT_SECRET_TOKEN={{ cookiecutter.opbeat_secret_token }}